@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
  #nav-bar{
      position: fixed;
      width: 100vw;
      display: flex;
      justify-content: right;
  }
  
  .flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }